<?xml version="1.0" encoding="utf-8" standalone="no"?>
<application xmlns="http://ns.adobe.com/air/application/4.0">
    
    <id>com.vungle.anesample</id>
    <filename>VungleAirSample</filename>
    <name>Vungle Air Sample</name>
    <versionNumber>5.0.0</versionNumber>
    <versionLabel>v5.0.0</versionLabel>
    
    <initialWindow>
        <content>sample.swf</content>
        <autoOrients>true</autoOrients>
        <aspectRatio>any</aspectRatio>
        <renderMode>cpu</renderMode>
        <fullScreen>true</fullScreen>
        <systemChrome>standard</systemChrome>
    </initialWindow>
    
    <iPhone>
        <requestedDisplayResolution>high</requestedDisplayResolution>
        
        <InfoAdditions>
            <![CDATA[
                <key>UIDeviceFamily</key>
                <array>
				<string>1</string>
				<string>2</string>
                </array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
            ]]>
            
        </InfoAdditions>
        
    </iPhone>
    
    <android>
        <manifestAdditions><![CDATA[
			<manifest android:installLocation="auto">
            <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="28" />
            
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            
            <application>
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
             <!--Vungle Activities-->
             <activity
                 android:name="com.vungle.warren.ui.VungleActivity"
                 android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                 android:launchMode="singleTop"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
             <activity
                 android:name="com.vungle.warren.ui.VungleFlexViewActivity"
                 android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                 android:hardwareAccelerated="true"
                 android:launchMode="singleTop"
                 android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            
            </application>
			</manifest>
		]]></manifestAdditions>
    </android>
    
    
    <extensions>
        <extensionID>com.vungle.extensions.Vungle</extensionID>
        <extensionID>com.vungle.extensions.android.GooglePlayServices</extensionID>
	</extensions>
</application>
