<?xml version="1.0" encoding="utf-8" standalone="no"?>
<application xmlns="http://ns.adobe.com/air/application/4.0">
    
    <id>com.vungle.anesample</id>
    <filename>VungleAirSample</filename>
    <name>Vungle Air Sample</name>
    <versionNumber>6.2.0</versionNumber>
    <versionLabel>v6.2.0</versionLabel>
    
    <initialWindow>
        <content>sample.swf</content>
        <autoOrients>true</autoOrients>
        <aspectRatio>any</aspectRatio>
        <renderMode>cpu</renderMode>
        <fullScreen>true</fullScreen>
        <systemChrome>standard</systemChrome>
    </initialWindow>
    
    <iPhone>
        <requestedDisplayResolution>high</requestedDisplayResolution>
        
        <InfoAdditions>
            <![CDATA[
                <key>UIDeviceFamily</key>
                <array>
				<string>1</string>
				<string>2</string>
                </array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
            ]]>
            
        </InfoAdditions>
        
    </iPhone>
    
    <android>
        <manifestAdditions><![CDATA[
            <manifest android:installLocation="auto">

                <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" />

                <uses-permission android:name="android.permission.INTERNET" />
                <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                <uses-permission android:name="android.permission.WAKE_LOCK" />
                <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

                <application>

                    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

                    <!-- vungle sdk -->
                    <activity
                        android:name="com.vungle.warren.ui.VungleActivity"
                        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                        android:launchMode="singleTop"
                        android:theme="@android:style/Theme.Translucent.NoTitleBar" />

                    <!-- android-job -->
                    <service
                        android:name="com.evernote.android.job.v21.PlatformJobService"
                        android:exported="false"
                        android:permission="android.permission.BIND_JOB_SERVICE" />
                    <service
                        android:name="com.evernote.android.job.v14.PlatformAlarmService"
                        android:exported="false"
                        android:permission="android.permission.BIND_JOB_SERVICE" />
                    <service
                        android:name="com.evernote.android.job.v14.PlatformAlarmServiceExact"
                        android:exported="false" />
                    <receiver
                        android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
                        android:exported="false" >
                        <intent-filter>
                            <!-- Keep the filter for legacy intents -->
                            <action android:name="com.evernote.android.job.v14.RUN_JOB" />
                            <action android:name="net.vrallev.android.job.v14.RUN_JOB" />
                        </intent-filter>
                    </receiver>
                    <receiver
                        android:name="com.evernote.android.job.JobBootReceiver"
                        android:exported="false" >
                        <intent-filter>
                            <action android:name="android.intent.action.BOOT_COMPLETED" />
                            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                            <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                            <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                        </intent-filter>
                    </receiver>
                    <service
                        android:name="com.evernote.android.job.gcm.PlatformGcmService"
                        android:enabled="false"
                        android:exported="true"
                        android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
                        <intent-filter>
                            <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
                        </intent-filter>
                    </service>
                    <service
                        android:name="com.evernote.android.job.JobRescheduleService"
                        android:exported="false"
		        android:permission="android.permission.BIND_JOB_SERVICE" />

                </application>
            </manifest>
        ]]></manifestAdditions>
    </android>
    
    
    <extensions>
        <extensionID>com.vungle.extensions.Vungle</extensionID>
        <extensionID>com.vungle.extensions.android.GooglePlayServices</extensionID>
        <extensionID>com.vungle.extensions.android.AndroidSupportLib</extensionID>
	</extensions>
</application>
